### Secrets ###
src/main/resources/application-secret.properties

### Build ###
build/
out/
bin/
.gradle/
.idea/
*.class
*.iml

### Runtime / Uploads ###
uploads/

### ML Models ###
*.pt
*.onnx

### VS Code ###
.vscode/
