<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/notice-detail.css(v=${#dates.createNow().getTime()})}">
</th:block>

<body>
<div layout:fragment="content">

    <div class="noticeView">
        <h3 th:text="${notice.title}">제목</h3>
        <div class="noticeInfo">
            <dl class="cate">
                <dt class="acchidden">카테고리</dt>
                <dd th:text="${notice.tag}">[공지]</dd>
            </dl>
            <dl class="date">
                <dt class="acchidden">등록일</dt>
                <dd th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd')}">2026-01-01</dd>
            </dl>
            <dl class="count">
                <dt class="acchidden">조회수</dt>
                <dd th:text="${notice.views}">0</dd>
            </dl>
        </div>
        <div class="noticeCnts" th:utext="${notice.content}">
        </div>
        <div class="notice-images" th:if="${notice.imageData != null}">
            <img th:src="@{/notice/image/{id}(id=${notice.id})}"
                 th:alt="${notice.imageOriginalName}">
        </div>
        <div class="noticeBt">
            <a href="/notice/list" class="btList">목록</a>
            <div sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/notice/admin/edit/{id}(id=${notice.id})}" class="btEdit">수정</a>
                <form th:action="@{/notice/admin/delete/{id}(id=${notice.id})}" method="post" style="display:inline;">
                    <button type="submit" class="btDelete" onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
